@import "../../colors";

.fixed-header{
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 998;
}

.space-buttons {
  flex: 1 1 auto;
}

a {
  position: relative;
  text-decoration: none;
  font-size: medium;
  color: white;
}

a::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: $pink-color;
  transition: width 0.5s;
}

a:hover::after {
  width: 100%;
}

ul {
  margin-top: 20px;
}

ul li {
  display: inline-block;
  list-style: none;
  margin: 0 15px;
}

@media (max-width: 767px) {
  ul {
    background-color: $primary_color;
    position: fixed;
    top: 0;
    width: 200px;
    right: -200px;
    height: 100vh;
    padding-top: 50px;
    padding-left: 10px;
    transition: right 0.5s;
    z-index: 999;
  }
  ul li {
    display: block;
    margin: 10px;
  }
}

.close-icon,
.menu-icon {
  display: none;
}

@media (max-width: 767px) {
  .close-icon,
  .menu-icon {
    display: block;
  }
  .close-icon {
    position: absolute;
    top: 10px;
    left: 10px;
  }
}
