<mat-toolbar class="fixed-top" color="primary">
  <span>
    My shop
  </span>

  <span class="space-buttons"></span>
  <button *ngIf="!isLoggedIn()" mat-raised-button color="accent" routerLink="/login">
    Login
  </button>

     <div  *ngIf="isLoggedIn()">
       <ul #sideMenu>
         <li><a routerLink="/">Home</a></li>
         <li *ngIf="isUser()"><a routerLink="/cart">cart</a></li>
         <li *ngIf="isUser()"><a routerLink="/orders">My orders</a></li>
         <li *ngIf="isAdmin()"><a routerLink="/product/add">Add product</a></li>
         <li *ngIf="isAdmin()"><a  routerLink="/ordersList">orders list</a> </li>
         <li *ngIf="isAdmin()"><a  routerLink="/product/list">products list</a> </li>
         <li><button mat-raised-button color="warn" (click)="logout()">Logout</button></li>
         <i class="bi bi-x close-icon"  (click)="closeSideMenu()"></i>
       </ul>
       <i class="bi bi-list menu-icon" (click)="openSideMenu()"></i>
     </div>

</mat-toolbar>



