<mat-toolbar color="primary">
  <span>
    E-commerce Application
  </span>

  <span class="space-buttons"></span>
  <button *ngIf="!isLoggedIn()" mat-raised-button color="primary" routerLink="/login">
    Login
  </button>

  <button *ngIf="isLoggedIn()" mat-raised-button color="warn" (click)="logout()">
    Logout
  </button>
 
</mat-toolbar>


<mat-toolbar color="primary" *ngIf="isLoggedIn()">
  <button mat-raised-button color="primary" routerLink="/">Home</button>
  <button mat-raised-button color="primary" *ngIf="isAdmin()" routerLink="/product/add">Add products</button>
  <button mat-raised-button color="primary" *ngIf="isAdmin()" routerLink="/product/list">products list</button>
</mat-toolbar>