<div class="container mt-5">
    <div class="card" style="padding:20px">


        <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">

            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Username</mat-label>
                <input matInput ngModel name="userName" id="userName" placeholder="Username">
             </mat-form-field>

              <mat-form-field appearance="outline" class="w-100">
                <mat-label>password</mat-label>
                <input matInput  name="userPassword" id="userPassword" placeholder="password">
              </mat-form-field>
              <button type="submit" class="w-100" mat-raised-button color="primary">Login</button>
          </form>
    </div>
</div>