<div class="container">
  <div *ngIf="carts.length > 0">
    <div class="checkout mb-3" align="right">
      <button mat-raised-button color="accent" (click)="goToBuy()">Checkout</button>
    </div>
    <table mat-table [dataSource]="carts" class="mat-elevation-z8" style="min-width: 1000px;">
      <ng-container matColumnDef="productName">
        <th mat-header-cell *matHeaderCellDef> product Name </th>
        <td mat-cell *matCellDef="let element"> {{element.product.productName}} </td>
      </ng-container>


      <ng-container matColumnDef="productDescription">
        <th mat-header-cell *matHeaderCellDef> product Description </th>
        <td mat-cell *matCellDef="let element"> {{element.product.productDescription}} </td>
      </ng-container>

      <ng-container matColumnDef="productActualPrice">
        <th mat-header-cell *matHeaderCellDef> product Actual Price </th>
        <td mat-cell *matCellDef="let element"> {{element.product.productActualPrice}} </td>
      </ng-container>

      <ng-container matColumnDef="productDiscountedPrice">
        <th mat-header-cell *matHeaderCellDef> product Discounted Price </th>
        <td mat-cell *matCellDef="let element"> {{element.product.productDiscountedPrice}} </td>
      </ng-container>

      <ng-container matColumnDef="Action">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let element">
          <mat-icon (click)="deleteItem(element.cartId)" style="font-size: 22px; color: red; cursor: pointer">delete</mat-icon>
        </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
  </div>
  <div *ngIf="carts.length == 0" class="no-items">
     Your cart is empty, think about adding new products
  </div>
</div>
