<div class="container mt-5">
    <div class="card p-2">
        <div class="row">
            <div class="col-6">
                <form #productForm="ngForm" (ngSubmit)="addProduct(productForm)">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Product Name</mat-label>
                    <input matInput="matInput" [(ngModel)]="product.productName" name="productName" placeholder="Product Name">
                </mat-form-field>

                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Product description</mat-label>
                    <input matInput="matInput" [(ngModel)]="product.productDescription" name="productDescription" placeholder="Product description">
                </mat-form-field>

                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Product actual price</mat-label>
                    <input matInput="matInput" [(ngModel)]="product.productActualPrice" name ="productActualPrice" placeholder="Placeholder">
                </mat-form-field>

                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>product discounted price</mat-label>
                    <input matInput="matInput" [(ngModel)]="product.productDiscountedPrice" name="productDiscountedPrice" placeholder="product discounted price">
                </mat-form-field>
                <div align="end">
                    <button type="submit" mat-stroked-button color="primary" style="margin-right:3px">Add product</button>
                    <button mat-stroked-button color="primary">clear</button>
                </div>
            </form> 
                </div>
                <div class="col-6">
                    Image area
                </div>
            </div>


        </div>
    </div>
