.nav-item, .navbar-brand {
  font-family: 'Arial', sans-serif;
}
a {
  font-family: 'Arial', sans-serif;
  color: white;
}
.menu-item{
  color:black;
}
.example-container {
  position: absolute;
  top: 60px;
  bottom: 60px;
  left: 0;
  right: 0;
}

.example-sidenav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  background-color: rgb(31, 43, 43);

}

.example-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.example-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(20, 24, 24);

}