<mat-toolbar color="primary" class="example-header">
    <mat-toolbar-row>
        <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <div class="col-md-7 justify-content-start">
            <a mat-button>Safe website</a>
            <a mat-button>Home</a>
            <a mat-button>Contact us</a>
            <a mat-button>Product</a>
    </div>


    <div class="col-md-5 justify-content-end">
       
            <a mat-button>Login</a>
            <a mat-button>Logout</a>
            <a mat-button>Register</a>
            <a mat-button [matMenuTriggerFor]="managementMenu">Management</a>
            <mat-menu #managementMenu>
                <a class="menu-item" mat-menu-item>Dashboard</a>
                <a class="menu-item" mat-menu-item>Categories</a>
                <a class="menu-item" mat-menu-item>Users</a>
            </mat-menu>

            <a  mat-button [matMenuTriggerFor]="userMenu">User</a>
         
            <a mat-button style="font-size: 23px;">
                <mat-icon  matBadge="5" 
                matBadgeOverlap="false"
                matBadgePosition="above after"
                matBadgeSize="medium"
                matBadgeColor="warn">shopping_cart</mat-icon></a>
  </div>

        <mat-menu #userMenu>
        <a class="menu-item" mat-menu-item>Profile</a>
        <a class="menu-item" mat-menu-item>Orders</a>
        <a class="menu-item" mat-menu-item>Logout</a>
    </mat-menu>
    </mat-toolbar-row>
</mat-toolbar>

<ng-container>
    <mat-sidenav-container class="example-container">
        <mat-sidenav #sidenav mode="side" opened class="example-sidenav justify-content-center text-center"
            [fixedInViewport]="false">

        </mat-sidenav>

        <mat-sidenav-content>
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>

    <mat-toolbar color="primary" class="example-footer"></mat-toolbar>
</ng-container>