<div class="container">
  <div class="card p-2">
    <form [formGroup]="registerForm"  (ngSubmit)="register()">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Username</mat-label>
        <input matInput  formControlName="userName" placeholder="Username" ngModel>
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-100">
        <mat-label>First Name</mat-label>
        <input matInput  formControlName="userFirstName"  placeholder="Username" ngModel>
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Last Name</mat-label>
        <input matInput  formControlName="userLastName"  placeholder="Username" ngModel>
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-100">
        <mat-label>userPassword</mat-label>
        <input matInput  formControlName="userPassword"  placeholder="password" ngModel>
      </mat-form-field>

      <button type="submit" class="w-100" mat-raised-button color="primary">Register</button>
    </form>
  </div>
</div>
