@import "../../colors";

.image-container{
  height: 200px;
}
.image-container img{
  max-width: 90%;
  max-height: 90%;
}

.product-title{
  font-weight: bold;
  font-size: 24px;
}
.tooltip-container{
  position: relative;
}
.tooltip-container .toolTipText{
  position: absolute;
  visibility: hidden;
  width: 300px;
  background-color: $pink-color;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  z-index: 997;
}
.tooltip-container:hover .toolTipText {
  visibility: visible;
}
.product-description{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.product-price{
  color: $red-color;
}
