<div class="container">

  <mat-form-field appearance="outline" class="w-100">
    <mat-label>Search any product</mat-label>
    <input matInput
           #keyword
           (keyup)="searchProducts(keyword.value)"
           name="keyword"
           id="keyword"
           placeholder="Search any product">
  </mat-form-field>

  <div class="row">
    <div *ngFor="let product of products" class="col-xs-12 col-md-6 col-lg-3 mb-3">
      <div class="card p-0">
        <div class="card-body">
          <div class="image-container d-flex justify-content-center align-items-center">
            <img [src]="product.productImages[0].url" alt="">
          </div>
          <div class="text-center">
            <div class="product-title mt-2">
              {{product.productName}}
            </div>
            <div class="tooltip-container mt-2">
              <p class="product-description">
                {{product.productDescription}}
              </p>
              <span class="toolTipText">{{product.productDescription}}
              </span>
            </div>
            <div class="product-price mt-2">
              <b>{{product.productDiscountedPrice | currency:'EUR':true }}</b>&nbsp;
              <b style="text-decoration: line-through">{{product.productActualPrice | currency:'EUR':true }}</b>
            </div>
          </div>
          <div class="mt-2 text-end">
            <button mat-raised-button (click)="gotToProductDetails(product.productId)" color="accent">View Details
            </button>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="showButton" class="text-center mt-2 mb-2">
      <button type="button" mat-raised-button color="primary" (click)="loadMoreProducts()">Load More</button>
    </div>
  </div>
</div>


